/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-image: url('images/pattern.png');
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "proxima-nova", "Arial", sans-serif;
}

a {
	text-decoration: none;
	color: #000;
	&:hover, &:focus {
		color: $blue;
	}
}

img {
	width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.flex {
	@include flexbox;
}

.flex-centered {
	margin: auto;
}

.wrap {
	height: 100%;
}

.inner {
	max-width: 1150px;
	margin: auto;
	padding: 0 1em;
}

.main, #main {
	font-size: 21px;
	line-height: 1;
	p, li {
		line-height: 1.3;
	}

}

.page-block {
	padding-top: 4em;
}

.page_content {
	width: 100%;
	padding-top: .5em;
	padding-bottom: 1em;
}

.size1of1 {
	width: 100%;
}

.size1of2 {
	width: 50%;
}

.size1of3 {
	flex-basis: 32%;
	-webkit-flex-basis: 32%;
}

@media screen and (min-width: 615px) {
	.page-block {
		@include flexbox;
	}

	.page_content {
		padding: 4em 0;
		width: 65%;
		margin: auto;
	}

	.large-size1of2 {
		width: 50%;
	}
}